/* CONTENEDOR HORIZONTAL */
.form {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

/* CADA CAMPO */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;

  min-width: 180px;
  position: relative;
}

/* RESERVA ESPACIO PARA ERRORES */
.error-container {
  min-height: 14px;
}

/* LABEL */
label {
  font-size: 12px;
  opacity: 0.8;
}

/* INPUT */
input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: #f8e9e9;
  color: black;
}

/* ERROR */
.error {
  color: #b91c1c;
  font-size: 11px;
}

/* BOTÓN */
button {
  height: 36px;
  align-self: flex-end;
}

/* INVALID */
input.ng-invalid.ng-touched {
  border: 1px solid #ff0000;
}

/* DISABLED */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

