<header class="header">
  <h1>Agenda Inteligente</h1>
  <p>Organiza tus eventos de forma eficiente</p>
</header>

<div class="form-container">
  <app-evento-form (actualizado)="refresh()"></app-evento-form>
</div>

<div class="calendar">

  
  <div class="calendar-nav">
    <button (click)="mesAnterior()">←</button>
    <h2>{{ fechaActual | date:'MMMM yyyy' }}</h2>
    <button (click)="siguienteMes()">→</button>
  </div>

  <!-- Días de la semana -->
  <div class="calendar-header">
    <div>LUNES</div>
    <div>MARTES</div>
    <div>MIÉRCOLES</div>
    <div>JUEVES</div>
    <div>VIERNES</div>
    <div>SÁBADO</div>
    <div>DOMINGO</div>
  </div>

  <!-- Grid calendario -->
  <div class="grid">
    @for (dia of calendario; track $index) {
      
      <div class="day" [class.today]="dia.fecha && esHoy(dia.fecha)">

        @if (dia.numero) {
          
          <div class="numero">{{ dia.numero }}</div>

          @for (evento of dia.eventos; track evento.id) {
            <div class="evento" (click)="verDetalle(evento)">
              {{ evento.hora }} - {{ evento.titulo }}
            </div>
          }

        }

      </div>

    }
  </div>

</div>

<!-- Modal -->
@if (eventoSeleccionado) {
  <div class="modal">
    <div class="modal-content">

      <span class="close" (click)="cerrarDetalle()">✖</span>

      @if (!modoEdicion) {

        <h3>{{ eventoSeleccionado.titulo }}</h3>

        <p><strong>Descripción:</strong> {{ eventoSeleccionado.descripcion }}</p>
        <p><strong>Fecha:</strong> {{ eventoSeleccionado.fecha }}</p>
        <p><strong>Hora:</strong> {{ eventoSeleccionado.hora }}</p>

        <button (click)="editarEvento(eventoSeleccionado)">Editar</button>
        <button (click)="eliminarDesdeModal()">Eliminar</button>

      } @else {

        <h3>Editar Evento</h3>

        <input [(ngModel)]="eventoEditando.titulo" placeholder="Título">
        <input [(ngModel)]="eventoEditando.descripcion" placeholder="Descripción">
        <input type="date" [(ngModel)]="eventoEditando.fecha">
        <input type="time" [(ngModel)]="eventoEditando.hora">

        <button (click)="guardarEdicion()">Guardar cambios</button>
        <button (click)="cerrarDetalle()">Cancelar</button>

      }

    </div>
  </div>
}